
.depicter-revert .depicter-4-element-4{
	padding:5px 18px 5px 18px;
	font-size:13px;
	color:#4980F5;
	font-family:"Open Sans";
	font-weight:300;
	background-color:transparent;
	border-width:3px;
	border-style:solid;
	border-color:#5D7FF1;
	border-radius:19px;
}
.depicter-revert .depicter-4-element-3{
	font-size:16px;
	color:#444;
	font-family:"Open Sans";
	font-weight:300;
}
.depicter-revert .depicter-4-section-1 .depicter-section-background{
	background-color:#FFF;
}

