
.depicter-revert .depicter-9-element-25{
	border-width:1px;
	border-style:solid;
	border-color:#000;
}
.depicter-revert .depicter-9-section-6 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-9-section-4 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-9-section-8 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-9-section-10 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-9-section-12 .depicter-section-background{
	background-color:#FFF;
}

